.entry-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px -5px #000;
}